<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Network</title>
</head>
<body>
    <h1>Today's Weather</h1>
    <form method="post" action="/getweather">
        <label><b>Insert City Here</b></label>
        <label>
            <input type="text" placeholder="Enter City" name="city">
            <input type="submit" value="Submit">
        </label>
    </form>
    <div>
        <b>{{output}}</b>
    </div>

</body>
</html>